{% extends 'base.html' %}

{# HEAD #}

{% block head %}{{ super() }}{% endblock head%}

{% block title %}Code Blue{% endblock %}

{% block head_styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{url_for('static', filename='css/meta.css')}}">
{% endblock %}

{% block head_scripts %}
  {{ super() }}
{% endblock head_scripts %}

{# BODY #}

{% block content %}
  {{ super() }}
  
  <div class="row-fluid">

    <div class="hero-unit span11 offset1 front-panel">
      <h1>Contact</h1>
      <br>
      <ul>
        <li>Dalton Hubble <a href="mailto:dhubble@mit.edu">dhubble@mit.edu</a></li>
        <li>Thomas Garver <a href="mailto:tgarv@mit.edu">tgarv@mit.edu</a></li>
      </ul>

    </div> 
  </div>  

{% endblock content %}

{% block footer %}
    {{ super() }}
{% endblock footer %}

{% block tail_scripts %}
    {{ super() }}
{% endblock tail_scripts %}