{% extends 'base.html' %}

{# HEAD #}

{% block head %}{{ super() }}{% endblock head%}

{% block title %}Code Blue{% endblock %}

{% block head_styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{url_for('static', filename='css/meta.css')}}">
{% endblock %}

{% block head_scripts %}
  {{ super() }}
{% endblock head_scripts %}

{# BODY #}

{% block content %}
  {{ super() }}

  <div class="container-fluid">

    <div class="row-fluid">

      <div class="hero-unit span10 offset1 front-panel">
        <h1>FAQ List</h1>
        <br>
        <p>None yet, feel free to <a href="{{url_for('web.contact')}}">contact</a/> us if you have questions.</p>      

      </div> 

    </div> 

  </div> 

{% endblock content %}

{% block footer %}
    {{ super() }}
{% endblock footer %}

{% block tail_scripts %}
    {{ super() }}
{% endblock tail_scripts %}