<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %} Default Title {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    {% block head_extra %}
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.css')}}">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap-responsive.css')}}">
    {% endblock %}

    <!-- HTML5 Shims -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body>

    {% block body %}
    {% include 'navbar.html' %}
    {% endblock %}

    {% include 'footer.html' %}

    <!-- Scripts -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{{url_for('static', filename='bootstrap/js/bootstrap.js')}}"></script>
    <script type="text/javascript">
      SCRIPT_ROOT = {{ request.script_root|tojson|safe}};
    </script>
    {% block scripts_extra %}
    {% endblock%}

  </body>
  
</html>