{% extends 'base.html' %}
	{% block title %}CodeBlue--Nearby Posts{% endblock %}

	{% block body %}
		{{ super() }}
		
		<div class="container">
			<form action="/post/nearby" method="POST">
				<legend>Get nearby posts</legend>
				<label>Radius</label>
				<input type="text" name="radius">
				<input type="submit" class="btn" value="Get"></input>
			</form>
		</div>
		{% if posts %}
		<div class="container">
			<h2>Posts within {{ radius }} kilometers of {{ location }}</h2>
			<ul>
			{% for loc in posts %}
				<li>{{ loc[0] }} is {{ loc[1] }} kilometer(s) away</li>
			{% endfor %}
			</ul>
		</div>
		{% endif %}

	{% endblock %}