{% extends 'base.html' %}
	{% block title %}CodeBlue--Nearby Posts{% endblock %}

	{% block body %}
		{{ super() }}

		<div class="container">
			<form action="/post/nearby" method="POST">
				<legend>Get nearby posts</legend>
				<label>Radius</label>
				<input type="text" name="radius">
				<input type="submit" class="btn" value="Get"></input>
			</form>
		</div>
		<div class="container row">
			<div class="span3 offset1">
				<h4>Posts within <span id="radius">{{ radius }}</span> meter(s) of {{ location }}</h4>
				<ul>
				{% for post in posts %}
					<li class="post" latitude="{{ post.latitude }}" longitude="{{ post.longitude }}">{{ post.post }} is {{ post.distance }} meter(s) away</li>
				{% endfor %}
				</ul>
			</div>
			<div class="map_canvas span5 offset2" style="height: 400px"></div>
		</div>

	{% endblock %}