<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>CodeBlue--Edit Post</title>

		<link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.css')}}">
		<link rel="stylsheet" href="{{url_for('static', filename='bootstrap/css/bootstrap-responsive.css')}}">
	</head>

	<body>
		<h1>Post: {{}}</h1>
		<p>{{}}</p>

		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="{{url_for('static', filename='bootstrap/js/bootstrap.js')}}"></script>
	</body>
</html>