{% extends 'base.html' %}
    {% block title %}CodeBlue -- Questions{% endblock %}

    {% block head_extra %}
      {{ super() }}
      <style type="text/css">
        html { height: 100% }
        body { height: 100%; margin: 0; padding: 0 }
        #map_canvas { height: 100% }
       </style> 
    {% endblock %}

    {% block body %}
        {{ super() }}

    <h1>Questions</h1>
    {% if questions %}
        <ul>
        {% for question in questions %}
            <li><a href="{{ url_for('question_show', id=question.question_id) }}">{{ question.title }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Nobody has posted anything yet. Be the first to ask a Question</p>
    {% endif %}

    <div id="map_canvas" style="width: 100%; height: 100%"></div>

    {% endblock %}

    {% block scripts_extra %}
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDM3aOq1KbuWzWXo8KvrCrrmE6MT8WVX1k&sensor=true"></script>
        <script>
            var mapOptions = {
                center: new google.maps.LatLng(42.355753,-71.098841),
                zoom: 12,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            console.log(document.getElementById("map_canvas"));
            var map = new google.maps.Map(document.getElementById("map_canvas"),
    mapOptions);
        </script>

    {% endblock %}