{% extends 'base.html' %}
	{% block title %}CodeBlue--New User{% endblock %}

	{% block body %}
		{{ super() }}

		<div class="container">
			<form action="/user/create" method="POST">
				<legend>Sign up for CodeBlue</legend>
				<label>username</label>
				<input type="text" name="username">
				<label>password</label>
				<input type="password" name="password">
				<label>repeat password</label>
				<input type="password" name="repeat_password">
				<br>
				<button type="submit" class="btn">Sign Up</button>
			</form>
		</div>

	{% endblock %}