{% extends 'base.html' %}
	{% block title %}CodeBlue--New User{% endblock %}

	{% block body %}
		{{ super() }}

		<div class="container">
			<form action="{{url_for('user_new')}}" method="POST">
				<legend>Sign up for CodeBlue</legend>
				<label>username</label>
				<input type="text" name="username">
				<label>password</label>
				<input type="password" name="password">
				<label>repeat password</label>
				<input type="password" name="password_repeat">
				<br>
				<button type="submit" class="btn">Sign Up</button>
			</form>
		</div>

		{% with messages = get_flashed_messages() %}
	      	{% if messages %}
	        <ul class=flashes>
	        	{% for message in messages %}
	          	<li>{{ message }}</li>
	        	{% endfor %}
	        </ul>
	      	{% endif %}
    	{% endwith %}


	{% endblock %}