{% extends 'base.html' %}
	{% block title %}
		{{ session['username'] }} on CodeBlue
	{% endblock %}

	{% block body %}
		{{ super() }}
		<br>
		<br>
		<br>
		Viewing Public Profile of {{ user.username }}<br>

	{% endblock %}

	{% block scripts_extra %}
		<!--<script src="{{url_for('static', filename='js/message-protocol.js')}}"></script>
		<script src="{{url_for('static', filename='js/user-view.js')}}"></script>-->
		<!--<script src="{{url_for('static', filename='js/geotest.js')}}"></script>-->
	{% endblock %}
