{% extends 'base.html' %}
	{% block title %}
		{{ session['username'] }} on CodeBlue
	{% endblock %}

	{% block body %}
		{{ super() }}
		<br>
		<br>
		<br>
		Welcome {{ session['username'] }} {{ session['user_id']}}<br>

		<p>All your posts:</p>
		<ul>
			{% for post in user.postings %}
				<li>{{ post }} is located at {{ post.geolocation }} and at elevation {{ post.geolocation.elevation }}</li>
			{% endfor %}
		</ul>
	{% endblock %}

	{% block scripts_extra %}
		<script src="{{url_for('static', filename='js/message-protocol.js')}}"></script>
		<script src="{{url_for('static', filename='js/user-view.js')}}"></script>
		<!--<script src="{{url_for('static', filename='js/geotest.js')}}"></script>-->
	{% endblock %}
