{% extends 'base.html' %}
	{% block title %}CodeBlue--New Location{% endblock %}

	{% block body %}
		{{ super() }}

		<div class="container">
			<form action="/user/location" method="POST">
				<legend>Specify a Location</legend>
				<label>Latitude</label>
				<input type="number" name="latitude" step="any">
				<label>Longitude</label>
				<input type="number" name="longitude" step="any"><br>
				<label>Elevation</label>
				<input type="number" name="elevation" step="any"><br>
				<input type="submit" class="btn" value="Set Location"></input>
			</form>
		</div>

		<script src="{{url_for('static', filename='geotest.js')}}"></script>
	{% endblock %}
