{% extends 'base.html' %}
	{% block title %}CodeBlue--New Answer{% endblock %}

	{% block body %}
		{{ super() }}

		<div class="container">
			<form action="{{url_for('answer_new')}}" method="POST">
				<legend>Create a New Answer</legend>
				<label for="answer_text">Question</label>
				<textarea id="answer_text" name="text" rows="5" cols="25" placeholder="Please enter your answer here"></textarea>
				<label>Provide the question id (hackish solution for now)</label>
				<input type="text" name="question_id">
				<fieldset>
					<legend>Duration:</legend>
					<input type="radio" name="form_delta" value="3h">3 Hours<br>
					<input type="radio" name="form_delta" value="6h">6 Hours<br>
					<input type="radio" name="form_delta" value="12h">12 Hours<br>
					<input type="radio" name="form_delta" value="1d">1 Day<br>
					<input type="radio" name="form_delta" value="3d">3 Days<br>
				</fieldset>
				<input type="submit" class="btn" value="Post"></input>
			</form>
		</div>

	{% endblock %}