{% extends 'base.html' %}

{# HEAD #}

{% block head %}{{ super() }}{% endblock head%}

{% block title %}CodeBlue{% endblock %}

{% block head_styles %}
  {{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{% endblock %}

{% block head_scripts %}
  {{ super() }}
{% endblock head_scripts %}

{# BODY #}

{% block content %}
  {{ super() }}

  <div id="map_region"></div>

  
  <br>
  <a href="{{ url_for('web.login') }}">Login</a>

  

  <a href="{{ url_for('web.signup') }}">Create an Account Now</a>

  <form action="{{url_for('web.signup')}}" method="POST">
    <legend>Sign up for CodeBlue</legend>
    <input class="span3" type="text" name="username" placeholder="Choose a username">
    <br>
    <input class="span3" type="email" name="email" placeholder="Your email">
    <br>
    <input class="span3" type="password" name="password" placeholder="Create a password">
    <br>
    <button class="span3 btn btn-success signup_btn" type="submit">Sign Up</button>
  </form>

  <br>

  <form action="{{ url_for('web.login') }}" method="POST">
    <legend>Login</legend>
    <label for="login_user_identifier">Username or Email</label>
    <input id="login_user_identifier" class="span3" type="text" name="user_identifier" autofocus>
    <br>
    <label for="login_password">Password</label>
    <input id="login_password" class="span3" type="password" name="password">
    {% if custom_vars.next %}
    <input type="hidden" name="next" value="{{ custom_vars.next }}">
    {% endif %}
    <br>
    <button class="span3 btn btn-primary login_btn" type="submit">Login</button>
  </form>

{% endblock content %}

{% block footer %}
    {{ super() }}
{% endblock footer %}

{% block tail_scripts %}
    {{ super() }}
<script data-main="{{url_for('static', filename='js/index.js')}}" src="{{url_for('static', filename='js/require.js')}}"></script>
{% endblock tail_scripts %}