{% extends 'base.html' %}

{# HEAD #}

{% block head %}{{ super() }}{% endblock head%}

{% block title %}CodeBlue{% endblock %}

{% block head_styles %}
  {{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{% endblock %}

{% block head_scripts %}
  {{ super() }}
{% endblock head_scripts %}

{# BODY #}

{% block content %}
  {{ super() }}

  <img src="{{url_for('static', filename='img/touch.png')}}" height=50 width=50 />

  <div id="map_region"></div>

  <a href="{{ url_for('web.user_new') }}">Create an Account Now</a>
  <br>
  <a href="{{ url_for('web.user_login') }}">Login</a>

  <form action="{{ url_for('web.user_login') }}" method="POST">
    <input class="span2" type="text" placeholder="Email" name="username" autofocus>
    <br>
    <input class="span2" type="password" placeholder="Password" name="password">
    <br>
    <button type="submit" class="btn">Login</button>
  </form>

{% endblock content %}

{% block footer %}
    {{ super() }}
{% endblock footer %}

{% block tail_scripts %}
    {{ super() }}
<script data-main="{{url_for('static', filename='js/index.js')}}" src="{{url_for('static', filename='js/require.js')}}"></script>
{% endblock tail_scripts %}