<div class="navbar navbar-static-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <a class="brand" href="{{ ROOT_ADDRESS }}">Code Blue</a>

      <!--Hidden at 940px or less-->
      <div class="nav-collapse collapse">
        <ul class="nav pull-right">

          {% if session['user'] %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="{{ session['user'].profile_image_url }}&s=20" class="navbar_profile_img"/>
              {{ session['user'].username }}
            <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{{url_for('web.settings')}}"><i class='icon-wrench'></i>Settings</a></li>
              <li><a href="{{url_for('web.logout')}}"><i class='icon-eject'></i>Logout</a></li>
            </ul>
          </li>

          {% else %}
          <li>
          <li><button id="login_btn" class="btn btn-primary">Login</button></li>
          <li><button id="signup_btn" class="btn btn-warning">Signup</button></li>
          
          {% endif %}
        </ul>

        <ul class="nav">

          {% if session['user'] %}
          <form class="navbar-search">
            <input type="text" class="span2 search-query" placeholder="Search">
          </form>
          <li><a href="{{ url_for('web.question_list') }}">Browser Questions</a></li>
          <li><a href="{{ url_for('web.ask') }}">Ask</a></li>
          {% endif %}
        </ul>

      </div>
    </div>
  </div>
<!--End of Navbar -->
</div>
