{% extends 'base.html' %}

{# HEAD #}

{% block head %}{{ super() }}{% endblock head%}

{% block title %}Code Blue{% endblock %}

{% block head_styles %}
  {{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename='css/question_list.css')}}">
{% endblock %}

{% block head_scripts %}
  {{ super() }}
{% endblock head_scripts %}

{# BODY #}

{% block content %}
  {{ super() }}

  <div id="map_wrap" class="map-collapse">
    <div id="map_canvas"></div>
  </div>

  <div id="expand_bar"></div>


  <div class="container-fluid">

    <div class="row-fluid">

      <!--Main Content-->
      <div id="main_content" class="span8">

        {% if session['user'].id == page_for.id %}

        <div id="question-creator-region" class="well span11">
        </div>

        <div id="global-question-display-region">
          <h2>Questions</h2>
        </div>

        <div id="user-question-display-region">
          <h2>Your Questions</h2>
        </div>

        {% else %}

        <div id="page-owner-question-display-region">
          <h2>{{page_for.username}}'s Questions</h2>
        </div>

        {% endif %}

    
      </div>

      <!--Sidebar Content-->
      <div id="side_content" class="span4">

        <div id="question-stats-region">
        </div>

        <div id="user-region">
          <img class="profile-img img-rounded" src="{{ page_for.profile_img_url }}" alt="Large profile image" width="300" height="300"  /><br>
          <table>
            <tr>
              <td>Username</td>
              <td><strong></strong></td>
            </tr>
            <tr>
              <td>Last seen</td>
              <td></td>
            </tr>
            <tr>
              <td>Member since</td>
              <td></td>
            </tr>
          </table> 
        </div>

      </div>
  
    <!--End of row-fluid-->
    </div>
  <!--End of container-fluid-->
  </div>

{% endblock content %}

{% block footer %}
    {{ super() }}
{% endblock footer %}

{% block tail_scripts %}
    {{ super() }}
<script>
      USER_ID = {{user_id}};
      {% if session['user'].id == page_for.id %}
      YOUR_PAGE = true;
      {% else %}
      YOUR_PAGE = false;
      PAGE_OWNER_ID = {{page_for.id}}
      {% endif %}
      // A change to the web interface urls.py will also update the URL base used by JS for redirection to individual questions and users.
      WEB_QUESTION_URL = "{{url_for('web.question_detail', question_id=0)}}".split("/").slice(0,-1).join('/') + '/';
      WEB_USER_URL = "{{url_for('web.question_list', username='username')}}".split("/").slice(0,-1).join('/') + '/';     
</script>
<script data-main="{{url_for('static', filename='js/question_list.js')}}" src="{{url_for('static', filename='js/require.js')}}"></script>
{% endblock tail_scripts %}