{% extends 'base.html' %}

{# HEAD #}

{% block head %}{{ super() }}{% endblock head%}

{% block title %}Code Blue{% endblock %}

{% block head_styles %}
  {{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename='css/question_detail.css')}}">
{% endblock %}

{% block head_scripts %}
  {{ super() }}
{% endblock head_scripts %}

{# BODY #}

{% block content %}
  {{ super() }}

  <div id="map_wrap" class="map-collapse">
    <div id="map_canvas"></div>
  </div>

  <div id="expand_bar"></div>


  <div class="container-fluid">

    <div class="row-fluid">

      <!--Main Content-->
      <div id="main_content" class="span8">
        
        <div id="answer-creator-region" class="well">
        </div>

        <div id="answer-display-region">
          <h2>Answers</h2>
        </div>
    
      </div>

      <!--Sidebar Content-->
      <div id="side_content" class="span4">

        <div id="question-stats-region">
          <h2>Question</h2>
        </div>

        <div id="users-region">
          <h2>Contributors</h2>
        </div>

      </div>
  
    <!--End of row-fluid-->
    </div>
  <!--End of container-fluid-->
  </div>

{% endblock content %}

{% block footer %}
    {{ super() }}
{% endblock footer %}

{% block tail_scripts %}
    {{ super() }}
    <script>
      QUESTION_ID = {{question_id}};
      USER_ID = {{user_id}};
      // A change to the web interface urls.py will also update the URL base used by JS for redirection to individual questions and users.
      WEB_USER_URL = "{{url_for('web.question_list', username='username')}}".split("/").slice(0,-1).join('/') + '/';     
</script>
<script data-main="{{url_for('static', filename='js/question_detail.js')}}" src="{{url_for('static', filename='js/require.js')}}"></script>
{% endblock tail_scripts %}