{% extends 'base.html' %}

{# HEAD #}

{% block head %}{{ super() }}{% endblock head%}

{% block title %}CodeBlue{% endblock %}

{% block head_styles %}
  {{ super() }}
{% endblock %}

{% block head_scripts %}
  {{ super() }}
{% endblock head_scripts %}

{# BODY #}

{% block content %}
  {{ super() }}

  <h1>FAQ List</h1>

  <p>None yet, feel free to contact us if you have questions.</p>

{% endblock content %}

{% block footer %}
    {{ super() }}
{% endblock footer %}

{% block tail_scripts %}
    {{ super() }}
{% endblock tail_scripts %}