{% extends 'base.html' %}

{# HEAD #}

{% block head %}{{ super() }}{% endblock head%}

{% block title %}CodeBlue{% endblock %}

{% block head_styles %}
  {{ super() }}
{% endblock %}

{% block head_scripts %}
  {{ super() }}
{% endblock head_scripts %}

{# BODY #}

{% block content %}
  {{ super() }}

  <h1>Privacy Policy</h1>

  <p>We're not going to distribute, sell, or do sketchy things with data you generate on our site. That's not how we work.</p>

{% endblock content %}

{% block footer %}
    {{ super() }}
{% endblock footer %}

{% block tail_scripts %}
    {{ super() }}
{% endblock tail_scripts %}