#main_content {
}

textarea {
	margin-bottom: 0px
}

h1, h2 {
	color: #636363;
}

a:hover {
	text-decoration: none;
}


.profile-img {
	margin-bottom: 20px;
}

#side-content {
	margin-top: 60px;
	margin-left: 0px;
}

.sidebar-wrap {
	background-color: white;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.sidebar-wrap h3 {
	color: #636363;
}

.map-collapse {
	height: 300px;
	width: 100%;
}

#map_canvas {
	height: 100%;
	width: 100%;
}

#expand_bar {
	width: 100%;
	height: 20px;
	background-color: black;
	margin-bottom: 20px;
}

.user-image-div {
	text-align: center;
	margin-top: -30px;
	margin-bottom: 30px;
}

.user-image-div img {
	max-width: 400px;
	max-height: 400px;
}

#question-creator-region {
	padding: 20px;
	background-color: #CFCFCF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#global-question-display-region {
	min-height: 300px;
}

#user-question-display-region {
	min-height: 600px;
}

#page-owner-question-display-region {
	min-height: 600px;
}






